@import url('https://fonts.googleapis.com/css?family=Lato:100,400,900');


.my-container h1{
	text-align: center;
}
.my-container ul{
	max-width: 200px;
	margin: auto;
}
.my-hr{
	max-width: 500px;
	border: 3px solid navy;
	margin-top: -5px;
}


/*1. change the display to: block*/
/*2. set width and height as: 200px*/
/*3. center image with margin*/
/*4. round the image with border-radius*/
/*5. create a border: 1px solid #aaa*/
/*6. shift the image up with margin-top: -100px*/

.bg-container {
	position:absolute;
	top:100%;
	left:100%;
	overflow:hidden;
}

.my-face{
	
	display: block;
	position: fixed;
	width: 190px;
	height: 190px;
	border-radius: 60%;
	border: 1px solid #aaa;
	margin-top: -180px;
	margin-left: -5px;
	z-index:2000;

	
	
}

.my-container{
	position: fixed;
	border: 1px solid #aaa;
	background-color: white;
	top: 50%;
	left: 50%;
	margin-top: -110px;
	margin-left: -150px;
	padding: 4rem;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
	font-family: "Lato";
	z-index: 1500;
}

/*stripe generator: http://www.stripegenerator.com/*/
/*7. set background image as: stripe_background.png*/
.my-body-bg-scroll{
/*/Added Animation/*/
	opacity: 1;
  position: absolute;
  height: 250%;
  width: 250%;
  top: -25%;
  left: -25%;
  background: url("galaxy.jpeg") repeat;
  animation: backgroundScroll 15s linear infinite;
  transform: rotate(45deg) scale(1);
  transform-origin: center center;
  z-index: 1000;

}

@keyframes backgroundScroll {
	0% {
    background-position: 0 0;
  }
	100% {
    /* pattern bg texture is 1000x1000px */
    background-position:0 -1000px;
  }
}


img:hover {
    -webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}




/*FlexCSS3 inactive 
experiement
.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: left;
}

header {background: black;color:white;}
footer {background: #aaa;color:white;}
.nav {background:#eee;}

.nav ul {
    list-style-type: none;
    padding: 0;
}
.nav ul a {
    text-decoration: none;
}

@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}

/*/ 